version: "3.8"
services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=kubsu
      - POSTGRES_PASSWORD=kubsu
      - POSTGRES_DATABASE=kubsu
    ports:
      - 5432:5432
    networks:
      - mynetwork
  src:
    build: ./src
    ports:
      - 8000:8000
    environment:
      - DATABASE_URL=postgresql+psycopg://kubsu:kubsu@db:5432/kubsu
    depends_on:
      - db
    networks:
      - mynetwork
networks:
  mynetwork:  
